# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Oo]bj
[Bb]in
[Dd]ebug/
[Rr]elease/
x64/
build/

# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
!packages/*/build/
!packages/repositories.config
packages/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml

# Others
*.[Cc]ache
*.bak
*.ncb
*.DS_Store
[Tt]humbs.db 
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
!packages/*/build/
!packages/repositories.config
packages/
