<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OutlookPrivacyPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
			<section name="OutlookGnuPG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<OutlookPrivacyPlugin.Properties.Settings>
   <setting name="AutoSign" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoEncrypt" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoVerify" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoDecrypt" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DefaultKey" serializeAs="String">
    <value />
   </setting>
   <setting name="GnuPgPath" serializeAs="String">
    <value />
   </setting>
   <setting name="BarLeft" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BarTop" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BarPosition" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BarPositionSaved" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BarRowIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DefaultDomain" serializeAs="String">
    <value />
   </setting>
   <setting name="Encrypt2Self" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Default2PlainFormat" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GnuPgTrustModel" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IgnoreIntegrityCheck" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Cipher" serializeAs="String">
    <value>AES-128</value>
   </setting>
   <setting name="Digest" serializeAs="String">
    <value>SHA-1</value>
   </setting>
   <setting name="SaveDecrypted" serializeAs="String">
    <value>False</value>
   </setting>
  </OutlookPrivacyPlugin.Properties.Settings>
		<OutlookGnuPG.Properties.Settings>
			<setting name="AutoSign" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AutoEncrypt" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AutoVerify" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="AutoDecrypt" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="DefaultKey" serializeAs="String">
				<value/>
			</setting>
			<setting name="GnuPgPath" serializeAs="String">
				<value/>
			</setting>
			<setting name="BarLeft" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="BarTop" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="BarPosition" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="BarPositionSaved" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="BarRowIndex" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="DefaultDomain" serializeAs="String">
				<value/>
			</setting>
			<setting name="Encrypt2Self" serializeAs="String">
				<value>False</value>
			</setting>
		</OutlookGnuPG.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
		<!-- sku=".NETFramework,Version=v4.5" -->
	</startup>
	<!--
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

		<targets>
			<target name="logfile" xsi:type="File" fileName="log.txt" />

		</targets>

		<rules>
			<logger name="*" minlevel="Trace" writeTo="logfile" />
		</rules>
	</nlog>
	-->
</configuration>
